<!doctype html>
<html lang="{{ request.locale }}">
  <head>
  <meta charset="utf-8">
  <title>{{ page_title }}</title>


  <style>
    @font-face {
    font-family: 'Lato';
    src: url({{ 'Lato-Regular.woff2' | asset_url }}) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Libre Baskerville';
    src: url({{ 'LibreBaskerville-Italic.woff2' | asset_url }}) format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Tangerine';
    src: url({{ 'Tangerine-Bold.woff2' | asset_url }}) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

    :root {
      --midnight-blue: {{ settings.color_midnight_blue }};
      --gold: {{ settings.color_gold }};
      --ivory: {{ settings.color_ivory }};
      --forest-green: {{ settings.color_forest_green }};
      --royal-plum: {{ settings.color_royal_plum }};
      --neutral-dark: {{ settings.color_dark_neutral }};

      --font-body: 'Lato', sans-serif;
    --font-subtitle: 'Libre Baskerville', serif;
    --font-header: 'Tangerine', cursive;

      --primary-color: {{ settings.primary_color }};
      --accent-color: {{ settings.accent_color }};
    }
  </style>

  <!-- Theme CSS -->
  {{ 'theme.css' | asset_url | stylesheet_tag }}

  <!-- Shopify Scripts and Meta -->
  {{ content_for_header }}

  <!-- Theme JS -->
  {{ 'theme.js' | asset_url | script_tag }}
</head>

  <body>
    <main role="main">
      {{ content_for_layout }}
    </main>
  </body>
</html>
