<!DOCTYPE html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page_title }} – {{ shop.name }}</title>
  {{ content_for_header }}

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  {{ 'fonts.css' | asset_url | stylesheet_tag }}

  <!-- Base Styles -->
  {{ 'base.css'  | asset_url | stylesheet_tag }}

  {% style %}
  {% case settings.body_font %}
    {% when "Libre Baskerville" %}
      :root { --font-body: 'Libre Baskerville', serif; }
    {% else %}
      :root { --font-body: 'Lato', sans-serif; }
  {% endcase %}

  {% case settings.header_font %}
    {% when "Libre Baskerville" %}
      :root { --font-header: 'Libre Baskerville', serif; }
    {% else %}
      :root { --font-header: 'Tangerine', cursive; }
  {% endcase %}
{% endstyle %}
</head>
<body>
  {% section 'header' %}
  {{ content_for_layout }}
  {% section 'hero' %}
  {% section 'footer' %}
</body>
</html>
