<footer style="padding:1rem;background:{{ settings.accent_color }};text-align:center;">
  <p style="margin:0;font-family:{{ settings.subtitle_font.family }};color:{{ settings.primary_color }};">
    © {{ 'now' | date: '%Y' }} {{ shop.name }}
  </p>
</footer>
